body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

header, hgroup, nav, section, div {
    display: block;
}
footer, header{
    display: block;
}
.headerstrip {
    height: 72px;
    background: #f25c27;
}

.container {
    margin-right: auto;
	margin-left: auto;
	width: 940px;
}

.row {
    margin-left: -20px;
}